
<div class="text">Contato</div>
	<!-- <a class="close" href="javascript:hideContactDialog()"><img src="img/close.png"></a> -->

<div class="contact-dialog-fields">
	<div id="login-error-message" class="error-message"/>

		<form id="contact-form">
			<input type="text" id="nome" name="nome" class="input-text" defaultValue="Nome" value="Nome"
				onfocus="onContactFieldFocus(this)" onBlur="onContactFieldBlur(this)" onchange="onChangeContacText()">

			<input type="text" id="email" name="email" class="input-text" defaultValue="Email" value="Email"
				onfocus="onContactFieldFocus(this)" onBlur="onContactFieldBlur(this)">

			<textarea id="mensagem" name="mensagem" class="input-text input-text-message" onfocus="onContactFieldFocus(this)" onBlur="onContactFieldBlur(this)">Escreva sua mensagem aqui
			</textarea>
			<input type="hidden" name="acao" id="acao" value="enviar" />
		</form>
		<!-- <a id="contact-send-link" href="javascript:alert('implementar!')">ENVIAR<span class="icon"></a> -->
		<a class="green-button contact-dialog-button" href="javascript:sendEmail('#contact-form')">  Enviar
	   <span class="icon"/>
		</a>
		<div id="contact-message" class="content" align="center"></div>
</div>
