<div class="top">
	<div class="text">Teste Agora</div>
	<div id="try-now-dialog-close-button"><a class="close" href="javascript:hideTrialDialog()"><img src="img/close.png"></a></div>
	<!--<a class="close" href="javascript:hideTrialDialog()"><img src="img/close.png"></a>-->
</div>

<div class="middle">
	<div class="text-top">MÊS GRÁTIS</div>
	<div class="text-bottom">Sem compromisso e sem informar seus dados de pagamento.</div>

</div>

<div class="trial-dialog-fields">
	<div id="try-now-error-message" class="error-message"/>
	<form id="try-now-form" name="try-now-form">
		<input type="hidden" id="planId" name="planId" defaultValue="1" value="TRIAL"/>

		<select id="product" name="productId">
			<option value="">Selecione um produto</option>
			<option value="1">RealISMS</option>
			<option value="14">RealBCMS</option>
		</select>

		<input type="text" class="input-text" id="try-now-name" name="name" placeholder="Digite seu nome completo"  >

		<input type="text" class="input-text" id="try-now-business-name" name="company" placeholder="Digite o nome da sua empresa" onfocus="mask(this, 1)" maxlength="25">

		<input type="text" class="input-text" id="try-now-phone-country" name="phone_country" placeholder="Código do país"  onfocus="mask(this, 2)" style="width: 105px; margin-top: 0px; float: left;">
		
		<input type="text" class="input-text" id="try-now-phone" name="phone" placeholder="Digite o número do seu telefone"  onfocus="mask(this, 3)" style="width: 258px; margin-top: 0px; float: right; ">
		
		<input type="text" class="input-text" id="try-now-email" name="email" placeholder="Digite seu email*"  style="clear: both;">

		<div class="email-info" value="email-info">*É com esse email que você ira acessar a RealISO</div>

		<input type="password" class="input-text" id="try-now-password" name="password" placeholder="Cadastre uma senha" >

	</form>

	<a id="create-account-link" class="green-button" href="javascript:createAccount2()">
		Criar minha conta
		<span class="icon"/>
	</a>
</div>

<div id="try-now-loading">
	<div id="try-now-loading-text" class="try-now-loading-text">
		Obrigado por entrar em contato! <br><br> Em breve você receberá um e-mail com os dados de sua instância.
	</div>
</div>
<script type="text/javascript">
	$('input, password').placeholder();
</script>
