<div class="product-header"> 
	<div class="content-container">
		<div class="description realisms"><h2><a href="index_isms.html">RISK MANAGEMENT</a></h2></div>
		<div class="right"> 
			<img src="img/product_header_divisor.png"/>
			<img class="logo" src="img/logo_realisms.png" onclick="javascript:loadISMSPage()" title="Acesso o site do RealISMS"/>
			<a class="try-now-button" href="javascript:showTrialDialog('1')" title="Teste agora o RealISMS gratuitamente"><span>TRY NOW<span class="icon"/></a>
		</div>
	</div>
</div>

<div class="product-content">
	<div class="content-container">
		<div class="realisms-content">
			<div class="title">
				<h3>ISMS is RealISMS</h3>
			</div>

			<div class="description">
				Whether you choose ISO27001 or COBIT, we have the right tool for you!
				REALISMS implements a management system for information security (ISMS) in
				organizations that needs to establish and monitor their processes
				security in IT. It is important to guarantee a high level of
				reliability and confidentiality of companies information.
				More than 7000 companies around the world already have this certification.
				In the extremely competitive world market, it is imperative for organizations
				obtain certifications that guarantee the security of their information in order
				to ensure its customers and partners the reliability of their assets
			</div>
		</div>

		<div class="shot-container">
			<img src="img/shot_realisms.png" class="realisms-thumb"/>
		</div>

	</div>
</div>

<div class="product-bottom">

	<div class="text">
		Select your profile so we can help you in making best use of our platform
	</div>

	<div class="buttons-container">
		<a class="profile-button implement"  href="benefits_isms.html"><img src="img/icon_implement.png" class="icon"/>I WANT TO IMPLEMENT AN ISO STANDARD</a>

		<a class="profile-button consultant" href="benefits_isms.html#consultant"><img src="img/icon_consultant.png" class="icon"/>I AM ISO CONSULTANT</a>

		<a class="profile-button certified" href="benefits_isms.html#certified"><img src="img/icon_certified.png" class="icon"/>MY COMPANY IS ALREADY ISO CERTIFIED</a>
	</div>
</div>
