<div class="product-header"> 
	<div class="content-container">
		<div class="description realbcms"><h2><a href="index_bcms.html">CONTINUITY MANAGEMENT</a></h2></div>
		<div class="right"> 
			<img src="img/product_header_divisor.png"/>
			<img class="logo" src="img/logo_bcms.png" title="Acesso o site do RealBCMS" onclick="javascript:loadBCMSPage()"/>
			<a class="try-now-button" href="javascript:showTrialDialog('14')" title="Teste agora o RealBCMS gratuitamente"><span>TRY NOW<span class="icon"/></a>
		</div>
	</div>
</div>

<div class="product-content">
	<div class="content-container">
		<div class="realbcms-content">
			<div class="title">
				<h3>ISO 22301 is the RealBCMS</h3>
			</div>

			<div class="description">
				ISO 22301 implements Business Continuity Management (BCM) in
				organizations in order to have continuity plans in the event of
				claims of force majeure. From simple electrical problems to 
				natural large-scale disaster like earthquakes and tsunamis, companies
				that implement ISO 22301 has a process capable of
				return crucial operations to an acceptable level, dealing with the
				various kinds of adversities. Try RealBCMS Free.
			</div>
		</div>

		<div class="shot-container">
			<img src="img/shot_bcms.png" class="realbcms-thumb"/>
		</div>

	</div>
</div>

<div class="product-bottom">

	<div class="text">
		Select your profile so we can help you in making best use of our platform
	</div>

	<div class="buttons-container">
		<a class="profile-button implement"  href="benefits_bcms.html"><img src="img/icon_implement.png" class="icon"/>I WANT TO IMPLEMENT AN ISO STANDARD</a>

		<a class="profile-button consultant" href="benefits_bcms.html#consultant"><img src="img/icon_consultant.png" class="icon"/>I AM ISO CONSULTANT</a>

		<a class="profile-button certified" href="benefits_bcms.html#certified"><img src="img/icon_certified.png" class="icon"/>MY COMPANY IS ALREADY ISO CERTIFIED</a>
	</div>
</div>
