.hide-header-container {
	bottom: -50px !important;
}

.hide-header-link {
	padding-top: 15px !important;
}

.profile-button {
	-moz-border-radius:5px; 
	-webkit-border-radius:5px; 
	border-radius: 5px; 
	behavior:url(border-radius.htc);
}