.menurealiso li{
	list-style: none;
	float: left;
	position: relative;
	height: 40px;
}

/*.menurealiso>li{
	background-color: #2a2a2a;
	background-image: -webkit-linear-gradient(#2a2a2a, #670000);
	background-image: -moz-linear-gradient(#2a2a2a, #670000);
	background-image: -o-linear-gradient(#2a2a2a, #670000);
	background-image: linear-gradient(#2a2a2a, #670000);
	border-left: 1px solid #5f5f5f;
	border-right: 1px solid #7e0000;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}*/

.menurealiso li:first-child{
	border-radius: 3px 0px 0px 3px;
	border-left: none;
}

.menurealiso li:last-child{
	border-radius: 0px 3px 3px 0px;
	border-right: none;
}

.menurealiso a{
	display: block;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding: 0 0px;
	font-family: 'Verdana', arial;
	margin: 0;
	position: relative;
	font-size: 12px;
	line-height: 40px;
}

/*.menurealiso li:hover{
	-webkit-box-shadow: inset 0 0 10px #470000;
	-moz-box-shadow: inset 0 0 10px #470000;
	box-shadow: inset 0 0 10px #470000;
	background-color: #2a2a2a;
	background-image: -webkit-linear-gradient(#911212, #670000);
	background-image: -moz-linear-gradient(#911212, #670000);
	background-image: -o-linear-gradient(#911212, #670000);
	background-image: linear-gradient(#911212, #670000);
}*/

/*.menurealiso li:hover span:after{
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	transform: rotate(180deg);
}*/

ul.menurealiso-hover{
	visibility: hidden;
	position: absolute;
	top:100%;
	opacity: 0;
	height: 0;
	width: 150px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.menurealiso li:hover .menurealiso-hover{
	visibility: visible;
	height: 100%;
	opacity: 1;
}

.menurealiso-hover li{
	height: 100%;
	border-bottom: 1px solid #696969;
	background-color: #2a2a2a;
	border-left: none;
	border-right: none;
	width: 224px;
}

.menurealiso-hover li:hover{
	background-image: -webkit-linear-gradient(#2a2a2a, #434343);
	background-image: -moz-linear-gradient(#2a2a2a, #434343);
	background-image: -o-linear-gradient(#2a2a2a, #434343);
	background-image: linear-gradient(#2a2a2a, #434343);
	box-shadow: none;
}

.menurealiso-hover a{
	color: white;
}

/*.menurealiso a span:after{
	content: "";
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
	border-bottom: 3px solid black;
	position: absolute;
	top: 30px;
	right: 35px;
	margin-right: -60px;

	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out; 
}*/

.menurealiso-hover li:first-child, .menurealiso-hover li:last-child{
	border-radius: 0;
}

.menurealiso a:after {
	content: "";
	height: 20px;
	left: 0;
	position: absolute;
	width: 100%;
}

.arrow-sub-menu {
	width: 21px;
	height: 21px;
	margin-bottom: 7px;
}

.arrow-realiso {
	margin-top: -35px;
	margin-left: 170px;
}

.arrow-isms {
	margin-left: 35px;
}

.arrow-bcms {
	margin-left: 21px;
}

.arrow-sox {
	margin-left: 42px;
}

.logos-sub-menu {
	margin-left: 5px;
}


/*

.rotate-arrow{
	-webkit-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;

    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
    overflow:hidden;
}*/

.rotate-arrow {
	-webkit-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;

	transform:rotate(90deg);
	-ms-transform:rotate(90deg); /* IE 9 */
	-moz-transform:rotate(90deg); /* Firefox */
	-webkit-transform:rotate(90deg); /* Safari and Chrome */
	-o-transform:rotate(90deg); /* Opera */
}


