<div class="content-container">
	<div class="header-products">

		<div class="breadcrumb">
			<a class="home" href="javascript:resetHeader()">RealISO > </a><span class="option" id="header-breadcrumb-option">QUERO IMPLEMENTAR</span>
		</div>

		<h1> <img class="main-logo" src="img/logo_header.png" alt="RealISO"/> </h1>

		<div id="quote-container">
			<div class="quote">&#8220;</div>
			<div class="quote right">&#8221;</div>
		</div>

		<div id="quote-text">
			RealISO tem um pacote de produtos para ajudar os seus consumidores a se beneficiar da implementação de gestão de riscos, certificação e controle. Cada produto é feito de forma a ter uma rápida curva de aprendizado, e focado nas atividades principais, seja em gestão de sistemas de informação (ISMS), continuidade dos negócios (BCMS) ou SOX. Você pode testa-los agora mesmo.
		</div>

		<input id="selected-option" type="hidden" value="">

		<div class="header-buttons-container">
			<div class="box">
				<!-- POG: curtain eh setado globalmente (index.php). -->
				<a class="profile-button" href="javascript:loadISMSPage(curtain)">
					<img src="img/logo_27001.png" class="logo"/>
					<img src="img/arrow_silver_forward.png" class="arrow"/>
				</a>
				<div class="description">
					<img src="img/logo_realisms.png">
					<div class="text">
						Facilita o mapeamento de fábricas, unidades de negócios, ativos e processos chave, implementando os controles corretos caso a caso.
					</div>
				</div>
			</div>

			<div class="box">
				<a class="profile-button" href="javascript:loadBCMSPage(curtain)">
					<img src="img/logo_25999.png" class="logo"/>
					<img src="img/arrow_silver_forward.png" class="arrow"/>
				</a>
				<div class="description">
					<img src="img/logo_bcms.png">
					<div class="text">
						Foco no mapeamento dos processos chave da empresa e suas areas de negócio que necessitam de plano de continuidade.
					</div>
				</div>
			</div>

		</div>

	</div>

	<div class="hide-header-container">
		<a class="hide-header-link" title="Fechar" href="javascript:hideHeader(0)"></a>
	</div>

</div>
