<head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1; IE=edge"/></meta>
</head>
<div class="content-container">
	<span class="privacy">
		<a href="index.php#bottom">About us</a> |
		<a href="http://support.realiso.com/">Support</a> |
		<a href="#">Privacy Policy</a>
	</span>
	<span class="all-rights-reserved">
		&copy;2014 RealISO - RealISMS - All right reserved.
	</span>
</div>
