<div class="top">
	<div id="login-dialog-close-button"><a class="close" href="javascript:hideLoginDialog()"><img src="img/close_white.png"></a></div>
</div>
<img src="img/title_login.gif" alt="Login" class="logo" />

<div class="login-dialog-fields">
	<div id="try-now-error-message" class="error-message" style="margin-left: 23px; margin-top: 15px; margin-bottom: -15px;"/>

	<form id="login-form" name="login-form" method="post" action="#">
		<input type="hidden" id="planId" name="planId" defaultValue="1" value="TRIAL" />
		<select id="login-product" name="productId" style="margin-left: 30px;">
			<option value="">Choose a product</option>
			<option value="1">RealISMS</option>
			<option value="14">RealBCMS</option>
		</select>
		<input type="text" class="input-text" style="margin-left: 30px;"id="login-email" name="email" placeholder="Email" onBlur="populateSelectInstances()" >

		<input type="password" class="input-text" id="login-password" name="password" placeholder="Password" style="margin-left: 30px;" >

		<!-- As opções do select são carregadas automáticamente -->
		<select id="email-instances" name="emailInstances" style="margin-left: 30px;" ></select>

		<input type="checkbox" id="login-remember" name="remember" style="margin-left: 30px; display: none;" /> <label style="display: none;" for="login-remember">Remind Me</label>

	</form>
		<a id="login-button-gray" class="gray-button signin" href="#"> Login <span class="icon-gray"/></a>
		<a id="login-button" class="green-button signin" href="javascript:login()"> Login <span class="icon"/></a>
</div>

<script type="text/javascript">
	$('#login-button').hide();
</script>


