<div class="slides_container">

	<div id="realiso-slide-container" class="slide-container">
		<div class="content-container">
			
			<div class="slide-content-left"> <img src="img/slide_realisms.png"/></div>

			<div class="slide-content-right"> 
				<div class="why-implement">Why should I implement?</div>
				<div class="risk-management">Risk Management</div>

				<ul class="advantages">
					<li>Increase control of assets;</li>
				  	<li>Remind employees of their responsibilities;</li>
				  	<li>Maintain the reliability of the data.</li>
				</ul>

				<a id="realisms-risk-management" class="slide-button" href="javascript:scrollToRealISMS();">
					<span class="text">realISMS</span>
					<span class="text right">Risk Management</span>
					<span class="icon"/>
				</a>

			</div>

		</div>
	</div>


	<div id="realbcms-slide-container" class="slide-container">
		<div class="content-container">
			
			<div class="slide-content-left"><img src="img/slide_realbcms.png"/></div>

			<div class="slide-content-right"> 
				<div class="why-implement">Why should I implement?</div>
				<div class="continuity-plan ">Business Continuity Management</div>

				<ul class="advantages">
					<li>Understand critical processes of my business;</li>
				  	<li>Create strategies to deal with incidents of high impact;</li>
				  	<li>Garantee the process recovery on time.</li>
				</ul>

				<a id="realbcms-continuity-plan" class="slide-button" href="javascript:scrollToRealBCMS();">
					<span class="text">realBCMS</span>
					<span class="text right">Continuity Management</span>
					<span class="icon"/>
				</a>

			</div>

		</div>
	</div>

</div>
