<div class="top">
	<div class="text">Try Now</div>
	<div id="try-now-dialog-close-button"><a class="close" href="javascript:hideTrialDialog()"><img src="img/close.png"></a></div>
	<!--<a class="close" href="javascript:hideTrialDialog()"><img src="img/close.png"></a>-->
</div>

<div class="middle">
	<div class="text-top">FREE MONTH</div>
	<div class="text-bottom">No commitments. No payment information is required.</div>

</div>

<div class="trial-dialog-fields">
	<div id="try-now-error-message" class="error-message"/>
	<form id="try-now-form" name="try-now-form">
		<input type="hidden" id="planId" name="planId" defaultValue="1" value="TRIAL"/>

		<select id="product" name="productId">
			<option value="">Choose a Product</option>
			<option value="1">RealISMS</option>
			<option value="14">RealBCMS</option>
		</select>

		<input type="text" class="input-text" id="try-now-name" name="name" placeholder="Complete Name">

		<input type="text" class="input-text" id="try-now-business-name" name="company" placeholder="Company" onfocus="mask(this, 1)" maxlength="25">

		<input type="text" class="input-text" id="try-now-phone-country" name="phone_country" placeholder="Country code" onfocus="mask(this, 2)" style="width: 105px; margin-top: 0px; float: left;">
		
		<input type="text" class="input-text" id="try-now-phone" name="phone" placeholder="Phone Number" onfocus="mask(this, 3)" style="width: 258px; margin-top: 0px; float: right; ">
		
		<input type="text" class="input-text" id="try-now-email" name="email" placeholder="Email address*" style="clear: both;">

		<div class="email-info" value="email-info">*With this email you will access Realiso</div>

		<input type="password" class="input-text" id="try-now-password" name="password" placeholder="Password">

	</form>

	<a id="create-account-link" class="green-button" href="javascript:createAccount2()">
		Start my account
		<span class="icon"/>
	</a>
</div>

<div id="try-now-loading">
	<div id="try-now-loading-text" class="try-now-loading-text">
		 Thank you for contact us! <br><br>
		 You will receive in your e-mail the credentials to access your instance when it's ready.
	</div>
</div>
<script type="text/javascript">
	$('input, password').placeholder();
</script>
