<div class="content-container">
	<div class="left">
		<ul class="menurealiso">
				<li id="menu-principal">
					<ul ><a href="index.php#"><img src="img/logo_realiso.png" class="logo menurealiso">
						<img id="arrow-principal" class="arrow-sub-menu arrow-realiso " src="img/arrow_right_1.png"></a>
					</ul>
					<ul class="menurealiso-hover" style="margin-top: 11px;">
						<li><a href="index_isms.html"><img class="logos-sub-menu" src="img/logo_realisms.png"><img class="arrow-sub-menu arrow-isms" src="img/arrow_right_1.png"></a></li>
						<li><a href="index_bcms.html"><img class="logos-sub-menu" src="img/logo_bcms.png"><img class="arrow-sub-menu arrow-bcms" src="img/arrow_right_1.png"></a></li>
					</ul>
				</li>
			</ul>

	</div>
	<div class="right">
		<span class="about-us">
			<a href="index.php#bottom">About us</a> |
			<a href="http://support.realiso.com/">Support</a> |
			<a class="login" href="javascript:showLoginDialog();">Login</a>
		</span>
		<a class="show-header-link"></a>

		<div id="div-trans-language" class="div-trans-language">
				<div>
					<a class="p-text-language-fixed">en</a><img class="arrow-language" src="img/seta_idioma.png">
				</div>
				<div id="div-trans-language-child" class="div-trans-language div-trans-language-fixed">
					<p class="p-text-language-fixed"><a href="/br">br</a></p>
				</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$("#menu-principal").hover(
		function () {
			$("#arrow-principal").addClass("rotate-arrow");
		},
		function () {
			$("#arrow-principal").removeClass("rotate-arrow");
		}
	);
</script>

