<head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1; IE=edge"/></meta>
</head>
<div class="content-container">
	<h1> <img class="main-logo" src="img/logo_header.png" alt="RealISO"/> </h1>

	<div id="quote-container">
		<div class="quote">&#8220;</div>
		<div class="quote right">&#8221;</div>
	</div>

	<div id="quote-text">
		World leader in Risk Management and Compliance solutions. Create value and minimize your risks through our on-demand and Saas management systems. 	
	</div>

	<div class="header-buttons-container">
		<a class="profile-button implement" href="javascript:loadProductsHeader(IMPLEMENT)"><img src="img/icon_implement.png" class="icon"/>
			I WANT TO IMPLEMENT AN ISO STANDARD
		</a>

		<a class="profile-button consultant" href="javascript:loadProductsHeader(CONSULTANT)"><img src="img/icon_consultant.png" class="icon"/>I AM ISO CONSULTANT</a>

		<a class="profile-button certified" href="javascript:loadProductsHeader(CERTIFIED)"><img src="img/icon_certified.png" class="icon"/>MY COMPANY IS ALREADY ISO CERTIFIED</a>
	</div>

	<div class="justification-container">
		Realiso helps its customers implement and maintain risk management, using ISO 27001 and ISO 22301. Using our applications, consultants and CSOs can easily integrate controls in companies of any size. <a id="try-now-free-link" href="javascript:showTrialDialog('')">Try it now for free</a> or click the button below to better understand the importance of implementing these standards.
	</div>	

<!-- 	<div id="why-implement">
		<div class="text">
			<div class="bottom">WHY SHOULD I</div>
			<div class="bottom">IMPLEMENT?</div>
		</div>
		<img class="icon" align="right" src="img/arrow_forward_black.png"/>
	</div> -->

	<div class="hide-header-container hide-header-container-top">
		<a class="hide-header-link hide-header-link-right " title="Hide" href="javascript:hideHeader(0)"></a>
	</div>

</div>
