<div class="content-container">
	<span class="privacy">
		<a href="index.php#bottom">Sobre nós</a> |
		<a href="http://support.realiso.com/">Suporte</a> |
		<a href="#">Política de Privacidade</a>
	</span>
	<span class="all-rights-reserved">
		&copy;2014 RealISO - RealISMS - All right reserved.
	</span>
</div>
